<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/producto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Producto</title>
</head>

<body>
    <header class="container-fluid fixed-top" id="cabecera">
        <div class="row">
            <div class="col-4 col-md-3 col-lg-4 d-flex align-items-center justify-content-between negro" id="header-uno">
                <a href="" th:href="@{/}">
                    <img src="../img/logo.png" alt="Logo">
                </a>
                <i class="fas fa-bars" onclick="openNav()" style="font-size: 23px;"></i>

                <ul class="nav nav-pills h-100 d-none d-lg-flex" role="tablist">
					<li class="nav-item">
						<a class="nav-link d-flex flex-column align-items-center justify-content-center h-100"
							role="tab" aria-selected="true" href="#" th:href="@{/productos/portatil/1}">
							<div>Portatiles</div>
							<i class="fas fa-laptop"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link d-flex flex-column align-items-center justify-content-center h-100"
							href="#" role="tab" aria-selected="false" th:href="@{/productos/sobremesa/1}">
							<div>Sobremesa</div>
							<i class="fas fa-desktop"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link d-flex flex-column align-items-center justify-content-center h-100"
							href="#" role="tab" aria-selected="false" th:href="@{/productos/componente/1}">
							<div>Componentes</div>
							<i class="fas fa-microchip"></i>
						</a>
					</li>
				</ul>
            </div>

            <div id="mySearchnav" class="d-block d-md-none col-12 searchnav p-0">
                <form action="/productos/busqueda" method="get" class="busqueda">
                    <div class="input-group">
                        <input type="text" class="form-control inputBusqueda" placeholder="Buscar Productos" onkeyup="actionBusqueda()" required>
                        <div class="input-group-append p-0">
                            <button class="btn px-4 py-0" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>


            <div class="col-8 col-md-9 col-lg-8 d-flex align-items-center justify-content-between py-1 px-4" id="header-dos">
                <form action="/productos/busqueda" class="form-inline d-none d-md-block busqueda" method="get">
                    <div class="input-group w-75">
                        <input type="text" class="form-control inputBusqueda" placeholder="Buscar Productos" onkeyup="actionBusqueda()" required>
                        <div class="input-group-append p-0">
                            <button class="btn px-4 py-0 boton-verde" type="submit"><i class="fas fa-search" style="font-size: 20px!important;"></i></button>
                        </div>
                    </div>
                </form>

                <div class="d-flex align-items-center justify-content-between header-icons">
                    <i class="fas fa-search d-block d-md-none mr-3" onclick="openSearch()" id="lupa"></i>
                    
                    <div class="d-flex justify-content-center mr-3 p-0" th:if="${#authentication.name} != anonymousUser">
                        <i class="fas fa-user-circle"></i>
                        <section class="header-options bg-white">
                            <a href="" th:href="@{/usuario/perfil}" class="p-2 d-block"><i class="far fa-user mr-3" style="font-size: 20px;"></i>Mi cuenta</a>
                            <a href="" th:href="@{/favoritos/ver}" class="p-2 d-block"><i class="far fa-heart mr-3" style="font-size: 20px;"></i>Mis listas de deseos</a>
                            <a th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})" th:href="@{/admin/usuarios}" class="p-2 d-block"><i class="fas fa-user-cog mr-3" style="font-size: 20px;"></i>Admin Usuarios</a>
                            <a th:if="(${#authorization.expression('hasAuthority(''ADMIN'')')})" th:href="@{/admin/productos}" class="p-2 d-block"><i class="fas fa-cog mr-3" style="font-size: 20px;"></i>Admin Productos</a>
                            <a href="" th:href="@{/logout}" class="p-2 d-block"><i class="fas fa-sign-out-alt mr-3" style="font-size: 20px;"></i>Cerrar Sesion</a>
                            
                        </section>
                    </div>

                    <section class="carrito">
                    	<a href="" th:href="@{/cart}">
	                        <i class="fas fa-shopping-cart"></i>
	                        <div>
	                            <span th:text="${cantidad}" class="num_productos">0</span>
	                        </div>
                        </a>
                    </section>
                        
                    <a th:if="${#authentication.name} == anonymousUser" th:href="@{/login}" class="text-body text-decoration-none btn boton-verde ml-3 ml-md-4 sign-in">
                        <span class="d-none d-lg-inline-block">Iniciar Sesion</span>
                        <i class="fas fa-sign-in-alt ml-lg-2" style="font-size: 18px!important;"></i>
                    </a>
                </div>
            </div>
        </div>
        <button class="btn" id="goToTop"><i class="fas fa-angle-up"></i></button>
    </header>



    <aside>
        <div id="menu" class="flex-column justify-content-start">
            <div class="pt-4 pb-4 pl-5">
            	<a th:href="@{/productos/portatil/1}"><i class="fas fa-laptop mr-3 mb-3"style="font-size:24px;"></i>Portatiles</a>
            </div>
            <div class="pb-4 pl-5">
            	<a href="#" th:href="@{/productos/sobremesa/1}"><i class="fas fa-desktop mr-3 mb-3" style="font-size:24px;"></i>Sobremesa</a>
            </div>
            <div class="pl-5">
            	<a href="#" th:href="@{/productos/componente/1}"><i class="fas fa-microchip mr-3 mb-3" style="font-size:24px;"></i>Componentes</a>
            </div>
        </div>
        <a href="#" onclick="closeNav()" id="transparencia"></a>
    </aside>



    <main class="container-fluid principal margen-top">
        <div class="row justify-content-around bg-white py-3 articulo">
            <div class="col-12 col-md-5 col-lg-6 d-flex align-items-lg-center align-items-sm-start">
                <img th:src="*{'/mostrarImagen/' + producto.modelo}"/>
            </div>
            <div class="col-12 col-md-7 col-lg-6">
                <h3><span th:text="${producto.marca}" class="mr-2"></span><span th:text="${producto.modelo}"></span></h3>
                <p class="specs" th:if="${producto.tipo} == 'portatil'">
           			<span th:text="${producto.procesador}"></span>, 
                	<span th:text="${producto.grafica}"></span>,
                	<span th:text="${producto.ram}"></span>,
                	<span th:text="${producto.almacenamiento}"></span>,
                	<span th:text="${producto.sizePantalla}"></span>,
                	<span th:text="${producto.tipoPantalla}"></span>	
                </p>
                
                 <p class="specs" th:if="${producto.tipo} == 'sobremesa'">
           			<span th:text="${producto.procesador}"></span>, 
                	<span th:text="${producto.grafica}"></span>,
                	<span th:text="${producto.ram}"></span>,
                	<span th:text="${producto.almacenamiento}"></span>,
                	<span th:text="${producto.sistemaOperativo}"></span>	
                </p>


                <section>
                    <h6 class="mb-0">Disponibilidad</h6>
                    <div class="d-flex justify-content-center">
                        <p class="bg-verde mb-0 px-3 py-1">Actualmente en stock</p>
                    </div>
                   
                    <h6 class="mb-0">Cantidad</h6>
                    <div class="d-flex justify-content-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn hover menos"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn cantidad" th:value="1" disabled>1</button>
                            <button type="button" class="btn hover mas"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </section>
                

                <h2><span th:text="${producto.precio}"></span>€</h2>

                <div class="mt-4 acciones">
               		<form class="d-inline" th:action="@{/cart/add}" th:object="${item}" method="post">
                  			<input hidden type="radio" name="ruta" th:value="${#httpServletRequest.requestURI}" checked>
                  			<input hidden type="radio" name="modelo" th:value="${producto.modelo}" checked>
                  			<input hidden type="radio" name="cantidad" id="inputCantidad" value="1" checked>
						<button type="submit" class="btn mr-3 boton-negro"><i class="fas fa-cart-plus mr-3"></i>Añadir al carro</button>
					</form>
                   
                   <a href="" class="btn boton-outline-negro" data-toggle="modal" data-target="#addFavorito" th:attr="onclick=|setModelo('${producto.modelo}')|"><i class="far fa-heart mr-3"></i><span class="d-none d-md-inline">Añadir a favoritos</span></a>
                </div>
            </div>
        </div>
    </main>


    <section class="container-fluid principal mt-5">
        <div class="row p-0">
            <div class="col bg-white py-3 px-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="m-0">Reseñas</h4>
                        <hr class="mt-1 float-left linea mb-0">
                    </div>
                    <button class="btn boton-verde-oscuro d-none d-md-block" onclick="openResena(this)"><i class="fas fa-pencil-alt mr-3"></i>Escribir reseña</button>
                    <i class="fas fa-pencil-alt d-block d-md-none" onclick="openResena(this)"></i>
                </div>

                <div class="opinion mt-3">
                    <h5>Envíanos tu opinión</h5>
                    <form th:action="@{/opinion/add}" method="POST" id="form" th:object="${opinion}">
                        <div class="form-group">
                            <textarea maxlength="250" class="form-control" placeholder="Danos tu opinión" rows="3" th:field="*{detalle}"></textarea>
                        </div>
                        <div class="d-flex flex-wrap align-items-center justify-content-between criterios">
                            <p class="mb-0 mr-3"><strong>Puntuación del producto:</strong></p>
                            <p class="clasificacion m-0">
                            <input id="radio1" class="rating" type="radio" name="puntuacion" th:value="5" th:field="*{puntuacion}"><!--
                            --><label for="radio1" class="naranja rating">★</label><!--
                            --><input id="radio2" class="rating" type="radio" name="puntuacion" th:value="4" th:field="*{puntuacion}"><!--
                            --><label for="radio2" class="naranja rating">★</label><!--
                            --><input id="radio3" class="rating" type="radio" name="puntuacion" th:value="3" th:field="*{puntuacion}"><!--
                            --><label for="radio3" class="naranja rating">★</label><!--
                            --><input id="radio4" class="rating" type="radio" name="puntuacion" th:value="2" th:field="*{puntuacion}"><!--
                            --><label for="radio4" class="naranja rating">★</label><!--
                            --><input id="radio5" class="rating" type="radio" name="puntuacion" th:value="1" th:field="*{puntuacion}"><!--
                            --><label for="radio5" class="naranja rating">★</label>
                            </p>
                        </div>
                        <div class="form-row align-items-center justify-content-between m-0 mt-3 criterios">
                            <p class="mr-2 mb-0">¿Recomendarias este producto?</p>
                            <div class="d-flex">
                                <div class="form-check mr-4">
                                    <input class="form-check-input" type="radio" name="customRadio" id="gridRadios1" th:value="true" th:field="*{recomendado}">
                                    <label class="form-check-label" for="gridRadios1">Si</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="customRadio" id="gridRadios2" th:value="false" th:field="*{recomendado}">
                                    <label class="form-check-label" for="gridRadios2">No</label>
                                </div>
                                <input type="radio" name="productoOpinion" th:value="${producto.modelo}" th:field="*{productoOpinion}" hidden>
                            </div>
                        </div>
                        <button type="submit" class="btn publicar mt-3">Publicar reseña</button>
                    </form>
                </div>


				<div th:switch="${#lists.isEmpty(opiniones)}">
				
					<div th:case="true" class="text-center">
				  		<h6>Aún no hay opiniones de este producto</h6>
				  	</div>
				
					<div th:case="false">
						<div class="media mt-4 px-5 border-top pt-3" th:each="opinion : ${opiniones}">
		                    <i class="far fa-user user mt-1" style="font-size: 30px;"></i>
		
		                    <div class="media-body">
		                    	<div class="d-flex flex-wrap justify-content-between align-items-center mb-2">
		                        	<h4 class="m-0" th:text="${opinion.usuario.username}">Jhon Doe</h4>
		                        	<span th:remove="tag" th:if="${#authentication.name} == ${opinion.usuario.username}">
		                        		<a th:href="@{/opinion/delete/{id}(id=${opinion.idOpinion})}" class="btn btn-outline-danger"><span class="d-none d-md-inline mr-3">Eliminar</span><i class="far fa-trash-alt"></i></a>
		                        	</span>
		                        </div>
		                        <div class="d-flex justify-content-between align-items-center mb-2">
		                            <div>
		                                <p class="clasificacion m-0">
		                                <input class="inputPuntuacion" type="radio" th:value="5" th:checked="${opinion.puntuacion eq 5}"><!--
		                                --><label class="naranja puntuacion">★</label><!--
		                                --><input class="inputPuntuacion" type="radio" th:value="4" th:checked="${opinion.puntuacion eq 4}"><!--
		                                --><label class="naranja puntuacion">★</label><!--
		                                --><input class="inputPuntuacion" type="radio" th:value="3" th:checked="${opinion.puntuacion eq 3}"><!--
		                                --><label class="naranja puntuacion">★</label><!--
		                                --><input class="inputPuntuacion"type="radio" th:value="2" th:checked="${opinion.puntuacion eq 2}"><!--
		                                --><label class="naranja puntuacion">★</label><!--
		                                --><input class="inputPuntuacion" type="radio" th:value="1" th:checked="${opinion.puntuacion eq 1}"><!--
		                                --><label class="naranja puntuacion">★</label>
		                                </p>
		                            </div>
		                            <span th:text="${opinion.fechaOpinion}">23/5/2020</span>
		                        </div>
		                        
		                        <p th:text="${opinion.detalle}" id="descripcion">
		                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore amet voluptatum 
		                            vitae voluptate, ab pariatur consectetur non eos quasi iure! Quiaminima 
		                            repudiandae odit dicta perspiciatis expedita ipsam qui cumque?
		                        </p>
		                        <p> 
		                            <strong class="mr-1">Recomiendo la compra de este producto:</strong> 
		                            <span th:if="${opinion.recomendado} == true" th:remove="tag">Si</span>
		                            <span th:if="${opinion.recomendado} != true" th:remove="tag">No</span>
		                        </p>
		                    </div>
	                	</div>
					</div>
				</div>
            </div>
        </div>
    </section>
    
    
    
    <div th:switch="${#authentication.name} == anonymousUser">
    
    	<div th:case="true" class="modal fade" id="addFavorito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-dialog-centered" role="document">
		      	<div class="modal-content">
			        <div class="modal-header">
			          <h4 class="modal-title" id="exampleModalLabel">Añadir a la lista de favoritos</h4>
			          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
			          	<span aria-hidden="true">×</span>
			          </button>
			        </div>
		
			        <div class="modal-body">
						<p>Debes estar logueado para añadir un producto a favoritos</p>
			        </div>
		    	</div>
		    </div>
		</div>
		
		
		<div th:case="false" class="modal fade" id="addFavorito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-dialog-centered" role="document">
		      	<div class="modal-content">
			        <div class="modal-header">
			          <h4 class="modal-title" id="exampleModalLabel">Selecciona una de tus listas</h4>
			          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
			          	<span aria-hidden="true">×</span>
			          </button>
			        </div>
		
			        <div class="modal-body" id="listasFavoritos">	
			        	<p th:if="${#lists.size(listasFavoritos)} == 0" class="m-0" id="ceroListas">No tienes aún ninguna lista creada</p>		        	
                        
                        <div th:each="listaFavoritos: ${listasFavoritos}" class="my-2">
                        	<input type="checkbox" class="d-inline-block list" th:attr="onclick=|setLista('${listaFavoritos.id}')|">
                        	<span th:text="${listaFavoritos.nombre}"></span>
                        </div>
			        </div>		     
		    	</div>
		    </div>
        </div>
    </div>
    
    
    


    <footer class="container-fluid pie">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <img src="../img/logo-footer.png" alt="logo pie">
                <div class="footer-icons">
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram-square"></i>
                </div>
            </div>
        </div>
    </footer>






    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d618391b43.js" crossorigin="anonymous"></script>
    <script src="../js/aside.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/funciones.js"></script>
    <script src="../js/botonesCantidad.js"></script>
    <script type="text/javascript">
	   $(document).ready(function() {
	       document.getElementById("productoOpinion1").setAttribute("checked", "true");
	   });
    </script>
</body>

</html>