<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fondo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Inicio Sesion</title>
</head>
<body>
    <header class="container-fluid fixed-top" id="cabecera">
        <div class="row">
            <div class="col-3 col-lg-4 d-flex align-items-center justify-content-between negro pr-lg-0">
                <img src="../img/logo.png" alt="Logo">
                <i class="fas fa-bars d-lg-none" onclick="openNav()" style="font-size: 23px;"></i>
    
                <ul class="nav nav-pills h-100 d-none d-lg-flex" role="tablist">
                    <li class="nav-item">
                        <a href="portatiles.html" class="nav-link d-flex flex-column align-items-center justify-content-center h-100 active" role="tab" aria-selected="true">
                            <div>Portatiles</div>
                            <i class="fas fa-laptop"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-column align-items-center justify-content-center h-100" role="tab" aria-selected="false">
                            <div>Sobremesa</div>
                            <i class="fas fa-desktop"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-column align-items-center justify-content-center h-100" role="tab" aria-selected="false">
                            <div>Componentes</div>
                            <i class="fas fa-microchip"></i>
                        </a>
                    </li>
                </ul>
            </div>
    
    
            <div class="col-3 col-lg-8 d-flex align-items-center justify-content-end">
                <i class="fas fa-shopping-cart" style="font-size: 23px;"></i>
                <button class="btn active ml-3"><a href="inicioSesion.html" class="text-body text-decoration-none">LogIn<i
                            class="fas fa-sign-out-alt ml-2"></i></a></button>
    
                <!-- <i class="fas fa-sign-out-alt"></i>     el icono sale el movil -->
            </div>
        </div>
    </header>


    <aside>
        <div id="menu" class="flex-column justify-content-start">
            <div class="pt-4 pb-4 pl-5"><a th:href="@{/}"><i class="fas fa-laptop mr-3 mb-3"
                        style="font-size:24px;"></i>Portatiles</a></div>
            <div class="pb-4 pl-5"><a href="#"><i class="fas fa-desktop mr-3 mb-3"
                        style="font-size:24px;"></i>Sobremesa</a></div>
            <div class="pl-5"><a href="#"><i class="fas fa-microchip mr-3 mb-3" style="font-size:24px;"></i>Componentes
            </div></a>
        </div>
        <a href="#" onclick="closeNav()" id="transparencia"></a>
    </aside>

    
    
    <form class="w-50 m-auto bg-light p-5 formulario border border-dark">
        <div class="form-row">

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre de Usuario*</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de Usuario">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña*</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
        </div>
        <button type="submit" class="btn fondo">Inciar Sesion</button>
        <small class="form-text">Los campos con * son obligatorios</small>
    </form>

    <div class="text-center mt-3">
        <p><strong>¿Eres nuevo en NEXT?, registrate ahora</strong></p>
        <a th:href="@{/nuevoUser}" class="btn fondo">Registrarse</a>
    </div>
    
    
        



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d618391b43.js" crossorigin="anonymous"></script>
    <script src="../js/aside.js"></script>
</body>
</html>